# Konfigurasi AWS S3
S3_BUCKET_NAME=name-bucket-

# Konfigurasi Flask Server
FLASK_PORT=5000
FLASK_HOST=0.0.0.0

# Konfigurasi Keamanan (CORS)
# Saat development gunakan '*', saat production ganti dengan URL AWS Amplify-mu
CORS_ORIGIN=*